<p>Hello {{user.username}}</p>
{{#each message}}
	<p>{{this.customer.name}}{{this.customer.whatsapp}}</p>
	<p>{{this.message}}</p>
{{else}}
<p>Nenhuma Mensagem até agora</p>
{{/each}}

<a href="/auth/logout">Sair</a>	